*{
    padding: 0;
    margin: 0;
    font-family: "Alegreya Sans";
}
body{
    font-family: sans-serif;
    font-size: 16px;
}
.header{
    background-color: rgb(196, 197, 199,0.6);
    height: 30vh;
    text-align: center;
    padding: 30px;
}
.main-bar{
    background-color: white;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position: sticky;
    top: 0;
    z-index: 99;
}
.logo .image2{
    height: 80px;
    padding-left: 20px;
}
.main{
    list-style: none;
    width: 50%;
    padding-left: 10px;
    display:flex;
    justify-content:space-evenly;
}
li a{
    text-decoration: none;
    color: rgb(0, 0, 0,0.6);
    font-family: "Alegreya";
}
.main > li{
    padding-left: 15px;
}
.secondary{
    list-style: none;
    background-color: rgb(94, 74, 53);
    margin-top: 20px;
    display: none;
    
}
.chgcol{
    color: rgb(8, 8, 8);
}
.main> li>a:hover{
    color: rgb(17, 17, 17);
}
.secondary  a:hover {
   background-color: rgb(129, 101, 78);
   color: white;
}
.blog-meta{
    list-style: none;
    display: flex;
    line-height: 1.4em;
    justify-content: center;
   
}
.one1{
    text-decoration: none;
    color: rgb(117, 113, 113,0.7);
}
.one2{
    text-decoration: none;
    color: black;
}
.one1:hover{
    color: rgb(161, 126, 72);
}
.layer1{
    width: 980px;
    padding: 65px;
    position: relative;
    left: 200px;
}
.content p{
    color: rgb(145, 142, 138);
}
.content{
    border-bottom:1px solid rgb(199, 193, 193) ;
}
.paragh1{
    margin: 40px 0;
}
.paragh2{
    padding: 10px 5px;
    border-left: 3px solid rgb(186, 187, 187);
    margin: 10px 30px;
    line-height: 2.5rem;
}
.paragh2 i{
    font-size: 15px;
    margin: 5px;
}
.paragh3{
    margin: 30px 0;
}
.paragh4{
    margin: 30px 0;
}
.img-align{
    float: left;
    text-align: left;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 28px;
}
.links{
    text-align: center;
    margin: 30px 0;
}
.links a{
    padding: 3px 10px;
    text-decoration: none;
    color: rgb(31, 30, 30);
    margin: 0 7px 7px 0;
    display: inline-block;
    border: 1px solid rgba(0,0,0,.1);
    font-size: 14px;
    border-radius: 2px;
    transition: 1s;
} 
.links a:hover{
    background-color: rgb(88, 63, 14);
    color: white;
} 
.post-author-circle img{
    border-radius: 50%;
    margin-right: 20px;
}
.post-author-avatar{
    display: flex;
    padding:30px 0;
    border-bottom: 1px solid rgb(199, 193, 193);
}
.post-author-info h5{
    color: rgb(96, 100, 100);
}
.post-author-info p{
    color: rgb(139, 134, 134);
}
.pre-next{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    font-size: 15px;
    padding: 30px 0;
    
}
.content1{
    border-bottom: 1px solid rgb(199, 193, 193);
}
.pre-next a{
    text-decoration: none;
}
.pre-next a p{
    color: rgb(209, 209, 207);
}
.pre-next a span{
    color:rgb(61, 60, 58) ;
}
.next-post i{
    color: rgb(48, 46, 46);
    position: absolute;
    top:55px;
    right: -20px;
}
.previous-post i{
    color: rgb(48, 46, 46);
    position: absolute;
    top:55px;
    left: -20px;
}
.pre-next span:hover{
    color: rgb(100, 65, 22);
}
.comment{
    padding: 30px 0;
    border-bottom: 1px solid rgb(224, 221, 221);
    font-size: 15px;
}
.leave-comment h5{
    margin: 30px 0;
}
.comment-notes{
    color: rgb(130, 136, 136);
    margin-bottom: 30px;
}
textarea{
    margin-bottom: 20px;
}
.form-submit input{
    margin-top: 20px;
    background-color: rgb(59, 38, 17);
    color: white;
    padding: 10px 15px;
    opacity: 0.8;
    border-radius: 5px;
}
.form-submit input:hover{
    background-color: rgb(27, 26, 26);
}
.footer1 {
    background-color: rgb(71, 67, 63);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 60px;
}
.part1,.part2,.part3,.part4{
    width: 25%;
    margin-right:20px ;
}
.footer1 .h2{
    padding:40px;
}
.part2>ul,.part3>ul,.part4>ul{
    list-style: none;
}
.bod{
    border-bottom: 0.5px solid rgb(221, 219, 219,0.4);
    padding: 10px 10px 10px 0;
}
.part1>h5,.part2>h5,.part3>h5,.part4>h5{
    margin-bottom: 30px;
    color: white;
}
.part1 >p{
    color:rgb(148, 142, 142) ;
}
.footer1 ul li{
    color:  rgb(148, 142, 142); 
}
.footer2{
    background-color: rgb(51, 49, 46);
    padding-top: 60px;
    padding-left: 500px;
    padding-bottom: 100px;
}
.footer2 > ul {
    list-style: none;
    display: flex;
    padding-left: 80px;
}
.footer2 > ul>li{
    padding-right:5px ;
}
.footer2 p{
    padding: 20px 0;
    padding-left: 80px;
    color: rgb(148, 142, 142);
}
.footer2 .effect{
    color: rgb(255, 255, 255 ,0.5);
    width: 30px;
    height: 30px;
    padding-top:5px;
    padding-left: 4px;
    align-items: center;
    margin-right: 3px;
    border: 1px solid rgb(71, 66, 60);
    border-radius: 50% ;
    opacity: 0.8;
}
.but1:hover{
    color: rgb(255, 255, 255 );
    width: 30px;
    height: 30px;
    padding-top:5px;
    padding-left: 4px;
    align-items: center;
    margin-right: 3px;
    border: 1px solid rgb(9, 61, 158);
    background-color: rgba(17, 56, 163, 0.925);
    border-radius: 50% ;
    opacity: 0.8;
}
.but2:hover{
    color: rgb(255, 255, 255 );
    width: 30px;
    height: 30px;
    padding-top:5px;
    padding-left: 4px;
    align-items: center;
    margin-right: 3px;
    border: 1px solid rgb(221, 12, 12);
    background-color: rgba(190, 17, 17, 0.925);
    border-radius: 50% ;
    opacity: 0.8;
}
.but3:hover{
    color: rgb(255, 255, 255 );
    width: 30px;
    height: 30px;
    padding-top:5px;
    padding-left: 4px;
    align-items: center;
    margin-right: 3px;
    border: 1px solid rgb(49, 90, 167);
    background-color: rgba(54, 82, 160, 0.925);
    border-radius: 50% ;
    opacity: 0.8;
}