*{
    padding: 0;
    margin: 0;
    font-family: "Alegreya Sans";
}
body{
    font-family: sans-serif;
    font-size: 16px;
}
.header{
    background-color: rgb(196, 197, 199,0.6);
    height: 30vh;
    text-align: center;
    padding: 30px;
}
.main-bar{
    background-color: white;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position: sticky;
    top: 0;
    z-index: 99;
}
.logo .image2{
    height: 80px;
    padding-left: 20px;
}
.main{
    list-style: none;
    width: 50%;
    padding-left: 10px;
    display:flex;
    justify-content:space-evenly;
}
li a{
    text-decoration: none;
    color: rgb(0, 0, 0,0.6);
    font-family: "Alegreya";
}
.main > li{
    padding-left: 15px;
}
.secondary{
    list-style: none;
    background-color: rgb(94, 74, 53);
    margin-top: 20px;
    display: none;
    
}
.chgcol{
    color: rgb(8, 8, 8);
}
.main> li>a:hover{
    color: rgb(17, 17, 17);
}
.secondary  a:hover {
   background-color: rgb(129, 101, 78);
   color: white;
}
.blog-meta{
    list-style: none;
    display: flex;
    line-height: 1.4em;
    justify-content: center;
   
}
.one1{
    text-decoration: none;
    color: rgb(117, 113, 113,0.7);
}
.one2{
    text-decoration: none;
    color: black;
}
.one1:hover{
    color: rgb(161, 126, 72);
}
.layer1{
    width: 970px;
    padding: 65px;
    position: relative;
    left: 200px;
}
.post-medias img{
    width: 850px;
}
.page-content p{
    color: rgb(139, 134, 134);
    margin-top: 40px;
}
.page-content{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(199, 193, 193);
}
.post-author-circle img{
    border-radius: 50%;
    margin-right: 20px;
}
.post-author-avatar{
    display: flex;
    padding:30px 0;
    border-bottom: 1px solid rgb(199, 193, 193);
}
.post-author-info h5{
    color: rgb(96, 100, 100);
}
.post-author-info p{
    color: rgb(139, 134, 134);
}
.next-post a{
    text-decoration: none;
    position: relative;
    left: 700px;
    top: 30px;
    color: rgb(110, 107, 107);
    font-size: 15px;
    
}
.next-post p{
    color: rgb(155, 149, 149);
}
.next-post{
    border-bottom: 1px solid rgb(199, 193, 193);
    padding-bottom: 60px;
}
.next-post i{
    position: absolute;
    left:80px;
    top: 25px;
    font-size: 20px;
}
#post-nav-title:hover ,.next-post i:hover{
    color: rgb(119, 85, 41);
    cursor: pointer;
}
.post-comments{
    border-bottom: 1px solid rgb(199, 193, 193);
    padding: 30px 0;  
}
#comments img{
    border-radius: 50%;
    margin-right: 20px;
}
#comments ul{
    list-style-type: none;
}
#comments li{
    display: flex;
}
#comments li button{
    position: relative;
    left:450px;
    border: none;
    color: black;
    font-size: 17px; 
}
#comments li button:hover{
    color: white;
    background-color: rgb(117, 60, 6);
}
.comment-text .date{
    color: rgb(196, 196, 187);
}
.comment-text .author{
    color: rgb(100, 97, 94);
}
.comment-text p{
    color: rgb(133, 130, 127);
}
.comment-text{
    padding-top: 15px;
}
.leave-comment h5{
    margin: 30px 0;
}
.comment-notes{
    color: rgb(130, 136, 136);
    margin-bottom: 30px;
}
textarea{
    margin-bottom: 20px;
}
.form-submit input{
    margin-top: 20px;
    background-color: rgb(59, 38, 17);
    color: white;
    padding: 10px;
    opacity: 0.8;
}
.form-submit input:hover{
    background-color: rgb(27, 26, 26);
}
.footer1 {
    background-color: rgb(71, 67, 63);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 60px;
}
.part1,.part2,.part3,.part4{
    width: 25%;
    margin-right:20px ;
}
.footer1 .h2{
    padding:40px;
}
.part2>ul,.part3>ul,.part4>ul{
    list-style: none;
}
.bod{
    border-bottom: 0.5px solid rgb(221, 219, 219,0.4);
    padding: 10px 10px 10px 0;
}
.part1>h5,.part2>h5,.part3>h5,.part4>h5{
    margin-bottom: 30px;
    color: white;
}
.part1 >p{
    color:rgb(148, 142, 142) ;
}
.footer1 ul li{
    color:  rgb(148, 142, 142); 
}
.footer2{
    background-color: rgb(51, 49, 46);
    padding-top: 60px;
    padding-left: 500px;
    padding-bottom: 100px;
}
.footer2 > ul {
    list-style: none;
    display: flex;
    padding-left: 80px;
}
.footer2 > ul>li{
    padding-right:5px ;
}
.footer2 p{
    padding: 20px 0;
    padding-left: 80px;
    color: rgb(148, 142, 142);
}
.footer2 .effect{
    color: rgb(255, 255, 255 ,0.5);
    width: 30px;
    height: 30px;
    padding-top:5px;
    padding-left: 4px;
    align-items: center;
    margin-right: 3px;
    border: 1px solid rgb(71, 66, 60);
    border-radius: 50% ;
    opacity: 0.8;
}
.but1:hover{
    color: rgb(255, 255, 255 );
    width: 30px;
    height: 30px;
    padding-top:5px;
    padding-left: 4px;
    align-items: center;
    margin-right: 3px;
    border: 1px solid rgb(9, 61, 158);
    background-color: rgba(17, 56, 163, 0.925);
    border-radius: 50% ;
    opacity: 0.8;
}
.but2:hover{
    color: rgb(255, 255, 255 );
    width: 30px;
    height: 30px;
    padding-top:5px;
    padding-left: 4px;
    align-items: center;
    margin-right: 3px;
    border: 1px solid rgb(221, 12, 12);
    background-color: rgba(190, 17, 17, 0.925);
    border-radius: 50% ;
    opacity: 0.8;
}
.but3:hover{
    color: rgb(255, 255, 255 );
    width: 30px;
    height: 30px;
    padding-top:5px;
    padding-left: 4px;
    align-items: center;
    margin-right: 3px;
    border: 1px solid rgb(49, 90, 167);
    background-color: rgba(54, 82, 160, 0.925);
    border-radius: 50% ;
    opacity: 0.8;
}